.rox {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background: #e5878c;
}
.contenttable {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #961414;
}
